@model List<BlogProject.Models.CommentIndexPageModel>
    @using BlogProject.Classes

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Text
        </th>
        <th>
            Date
        </th>
        <th>
            Author
        </th>
        <th>
            Post
        </th>
        <th>
            Actions
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Utils.CutText(item.Comments.Text,50)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comments.Date)
        </td>
        <td>
            @if (item.Comments.User != null)
            {
                @item.Comments.User.UserName
            }
            else
            {
                @item.Comments.Author
            }
        </td>
        <td>
            <a href="/Posts/Details/@item.Posts.Id">@item.Posts.Title</a>
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Comments.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Comments.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Comments.Id })
        </td>
    </tr>
}

</table>
